@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.header-top
		&__phone, &__email
			a
				font-size: 16px

	a.modal-btn
		font-size: 10px

	i.mini-icon
		width: 16px
		height: 16px

	.menu
		ul
			li
				a
					font-size: 16px

	.main-slide
		&__arrow
			width: 50px

	.contact
		&__block-info
			padding: 60px 80px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.header-top
		text-align: left
		&__phone
			margin-bottom: 5px
			a
				margin-left: 0
		&__email
			text-align: left
		&__btn
			padding: 15px 0

	.menu
		ul
			li
				margin-right: 30px
				a
					font-size: 14px

	.header-bottom
		&__icons
			a
				margin-left: 10px
				&:first-child
					margin-right: -5px
		&__icon
			width: 25px
			height: 25px

	.logotype
		text-align: center

	.social-links
		text-align: center

	.footer-menu
		text-align: center
		margin: 70px 0

	.footer-contacts
		text-align: center

	header.main-page
		position: static

	.main-slide
		padding-top: 0

	.contact
		&__block
			float: none
			width: 100%
		&__block-info
			padding: 90px 120px
		&__block-map
			height: 550px

	.block-header-text
		margin-bottom: 40px
		h2
			font-size: 24px
			line-height: 1.4
		p
			font-size: 16px
			padding: 0

	.service-top
		background-position: 0 -250px
		padding: 100px 50px 150px 50px
		&__langs, &__text
			height: auto
		&__langs-inner
			position: static
			width: 220px
			margin-left: 140px
			a
				margin: 5px
				img
					width: 40px
		&__text
			margin-top: 50px
		&__text-inner
			position: static
			max-width: 300px
			text-align: center
			margin-left: 100px
			h2
				font-size: 40px
			p
				font-size: 16px

	.service-content-nav
		padding: 0
		&__item
			padding: 25px
			max-width: 380px
			a
				font-size: 17px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)

	.header-top
		padding: 5px 0
		&__phone, &__email
			a
				font-size: 9px
		&__phone
			margin-bottom: 0
		&__btn
			padding: 10px 0

	a.modal-btn
		font-size: 6px
		border: 2px solid #006c58
		padding: 3px 6px

	i.mini-icon
		width: 10px
		height: 10px
		top: 2px

	.header-middle
		padding: 25px 0
		&__title
			font-size: 18px

	.menu
		position: absolute
		top: -7px
		left: 0
		z-index: 2
		width: 100%
		background-color: #ebebeb
		padding: 25px 0
		display: none
		ul
			li
				display: block
				margin: 0
				padding: 20px 0
				text-align: center

	.main-slide
		&__item-content
			top: 0
			padding-left: 30px
			h2
				font-size: 25px
				line-height: 1.2
				margin-bottom: 20px
			p
				font-size: 16px
				margin-bottom: 20px

	.green-btn
		font-size: 14px
		padding: 10px 20px
		margin-bottom: 20px

	.lang-block
		padding: 50px 0
		&__title
			font-size: 25px
		&__img-block
			margin: 40px 0
		&__img
			width: 220px

	.translate-block
		padding: 60px 0
		&__title
			font-size: 22px
		&__item
			height: 130px
			margin-bottom: 30px
		&__item-img
			img
				height: 55px
		&__item-text
			font-size: 14px

	.bureau
		padding: 50px 0
		&__title
			font-size: 28px
			margin: 0 0 20px 0
			text-align: center
			line-height: 1.2
		&__img
			img
				width: 100%

	.main-title
		font-size: 28px
		text-align: center

	.review-slider
		&__item-text
			font-size: 16px
		&__item-img
			text-align: center
			img
				max-width: 200px

	#main-map
		height: 250px

	.request-modal-form
		padding: 30px
		float: none
		width: 100%
		h2
			font-size: 20px
			line-height: 1
			margin-bottom: 30px
		&__group
			margin-bottom: 20px
		&__group-label
			font-size: 14px
			margin-bottom: 5px
		&__hint
			font-size: 12px
		&__btn
			font-size: 16px

	.modal-input, .modal-select
		font-size: 14px

	.modal-select
		background-size: 12px 6px

	.modal-checkbox
		margin-right: 10px

	.contact
		&__block-info
			padding: 30px
			h2
				font-size: 20px
				text-align: center
			p
				font-size: 14px
				text-align: center
		&__links
			margin-top: 50px
		&__links-item
			margin-bottom: 20px
		&__links-item-text
			width: 210px
			margin-left: 15px
			font-size: 12px
		&__block-map
			height: 450px
		&__links-icon
			width: 30px
			height: 30px
			&:after
				top: 7px
				left: 6px

	.questions
		padding: 0

	.questions-tab
		&__item
			margin-bottom: 15px
		&__item-title
			padding-right: 30px
			font-size: 13px
			background-size: 11px 7px
			background-position: 93% 50%
		&__item-text
			font-size: 12px

	.question-form
		padding: 25px 30px
		margin: 0 -15px
		h2
			font-size: 20px
		&__btn
			font-size: 15px

	.question-form-textarea, .question-form-input
		font-size: 14px
		margin: 10px 0

	.service-top
		background-position: -60px -220px
		padding: 120px 50px 150px 50px
		&__langs-inner
			width: 100%
			margin-left: 0
		&__text
			margin-top: 30px
			text-align: center
		&__text-inner
			margin-left: 0
			max-width: 250px
			display: inline-block

	.service-content-nav
		margin: 0 -15px
		&__item
			padding: 20px
			a
				font-size: 16px
			&_active
				&:after
					border-width: 20px 20px 0 20px
					bottom: -20px


	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	.main-slide
		&__item
			padding-top: 120px

	.service-top
		background-position: -170px -220px
		padding: 120px 20px 100px 20px
		&__langs-inner
			width: 100%
			margin-left: 0
		&__text
			margin-top: 30px
			text-align: center
		&__text-inner
			margin-left: 0
			max-width: 250px
			display: inline-block

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

