@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.header-top
		&__phone, &__email
			a
				font-size: 16px

	a.modal-btn
		font-size: 10px

	i.mini-icon
		width: 16px
		height: 16px

	.menu
		ul
			li
				a
					font-size: 16px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.header-top
		text-align: left
		&__phone
			margin-bottom: 5px
			a
				margin-left: 0
		&__email
			text-align: left
		&__btn
			padding: 15px 0

	.menu
		ul
			li
				margin-right: 30px
				a
					font-size: 14px

	.header-bottom
		&__icons
			a
				margin-left: 10px
				&:first-child
					margin-right: -5px
		&__icon
			width: 25px
			height: 25px

	.logotype
		text-align: center

	.social-links
		text-align: center

	.footer-menu
		text-align: center
		margin: 70px 0

	.footer-contacts
		text-align: center

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)

	header, footer
		position: static

	.header-top
		padding: 5px 0
		&__phone, &__email
			a
				font-size: 9px
		&__phone
			margin-bottom: 0
		&__btn
			padding: 10px 0

	a.modal-btn
		font-size: 6px
		border: 2px solid #006c58
		padding: 3px 6px

	i.mini-icon
		width: 10px
		height: 10px
		top: 2px

	.header-middle
		padding: 25px 0
		&__title
			font-size: 18px

	.menu
		position: absolute
		top: -7px
		left: 0
		z-index: 2
		width: 100%
		background-color: #ebebeb
		padding: 25px 0
		display: none
		ul
			li
				display: block
				margin: 0
				padding: 20px 0
				text-align: center
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

